<div>
    @Html.DropDownList("CityID", null, "--Select Your City--", htmlAttributes: new { @class = "form-control center-block padding-bottom:1em" })
    <br />
    <input type="submit" class="btn btn-danger " style="font-size:" value="Search">
</div>