@model IEnumerable<FindCarrier.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}
<style>
    body{
        background-color:aquamarine;
    }
</style>


<div>
    <h2 style="text-align:center">Vehicles</h2>

    @Html.Partial("VList")
    <br />
    <p style="text-align:center">
        <a class="btn btn-primary " href="@Url.Action("Create")">Add New</a>
    </p>
</div>
