@{
    ViewBag.Title = "Contact";
}

<style>
    body {
        background-color: #D7BDE2;
    }
</style>
<h3>@ViewBag.Message</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cont_call">
                    <h3>
                        <strong class="multi color_chang"> Headquarters :</strong><br>                        
                    </h3>
                </div>
                <div class="cont">
                    <h3>
                        <strong class="multi">Find Carrier,</strong>
                    </h3>
                    <address>
                        Chennai, Tamilnadu<br />
                        India.
                        <br />
                        <strong>Support:</strong>   <a href="mailto:carriersupport@gmail.com">carriersupport@gmail.com</a><br />
                    </address>
                </div>
            </div>
        </div>
    </div>
    