@model IEnumerable<FindCarrier.Models.Transporter>
@{
    ViewBag.Title = "TList";
}

<style>
    .card-hover {
        box-shadow: -1px 9px 40px -12px #808080;
        transform: scale(1.1);
        z-index: 1;
    }
</style>
<div class="container">
    <div class="row">
        @foreach (var data in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title " style="font-weight:bold ; font-size:large">@data.TransportName</h5>
                    <p class="card-text">Address-@data.Address</p>
                    <p class="card-text">City-@data.City</p>
                    <p class="card-text">State-@data.State</p>
                    <p class="card-text">Contact No-@data.ContactNo</p>
                    <a href="#" class="btn btn-primary">Show Vehicles</a>
                </div>
            </div>
        }
    </div>
</div>
